<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--    在 Android 12（API 31）之前，蓝牙只需要：-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--    在 Android 12（API 31）及之后，蓝牙权限被细分了：-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- Android 12+ 前台扫描 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>

    <!-- 如果需要获取附近设备，需要定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
</manifest>